.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card {
  background-color: lightskyblue;
  margin: 1.5ex 3ex;
  padding: 1ex 2ex;
}

.item-card {
  background-color: white;
  margin: 8pt;
}

.item-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: bisque;
  padding: 8pt;
}

.Card--text {
  width: 350pt;
  height: 200pt;
}

.Card--description {
  align-items: left;
  margin: 0.2ex 3ex;
}

.Card--count {
  align-items: right;
  margin: 0.2ex 3ex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
